{% extends "AppBundle::layout.html.twig"%}

{% block body %}
    <!--tableau du journal de programmation-->
    <section class="container-fluid">

        <div id="block-table-journal_programmation" class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="header">
                        <h2 class="col-xs-6">
                            <b>  JOURNAL DE PROGRAMMATION </b>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="table-journal_programmation" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead style="background-color: #607D8B;color: white;">
                                    <tr>
                                        <th>Code</th>
                                        <th>Designation du marché</th>
                                        <th>Type de prestation</th>
                                        <th>Montant prévisionnel</th>
                                        <th>Autorité contractante</th>
                                        <th>Mode Appel d'offre</th>
                                        <th>Date du lancement</th>
                                        <th>Date attribution marché</th>
                                        <th>Date signature du marché</th>
                                        <th>Date démarrage des traveaux</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div>
                            <a href="{{ path('homepage') }}" type="button" class="btn btn-primary btn-lg m-t-15 waves-effect"><< Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>                     

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            if ($('.datepicker').length) {
                $('.datepicker').bootstrapMaterialDatePicker({
                    format: 'DD MMMM YYYY',
                    clearButton: true,
                    weekStart: 1,
                    time: false,
                    lang: 'fr'
                });
            }
            //Exportable table
            var table_journal_programmation;
            table_journal_programmation = $('#table-journal_programmation').DataTable({
                "language": {
                    "url": "../plugins/jquery-datatable/i18n/French.json",
                    buttons: {
                        print: 'Imprimer'
                    }
                },
                "ajax": {
                    "url": Routing.generate('datatable_journal_programmation'),
                    "type": "POST"
                },
                dom: 'Bfrtip',
                responsive: true,
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });

        })
    </script>
{% endblock %}