{% extends "AppBundle::layout.html.twig"%}

{% block body %}
    {{ parent() }}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2><b>TABLEAU RECAPITULATIF DE PASSATION</b></h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <a href="{{ path('index_journal_programmation') }}">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                            <div class="content">
                                <div class="text"><b> JOURNAL DE PROGRAMMATION</b></div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                            </div>
                    </div>
                </div>

                <a href="{{ path('index_fiche_suivi') }}">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                           {# <i class="material-icons">help</i>#}
                        </div>
                        <div class="content">
                            <div class="text"><b>FICHE DE SUIVI PROJET</b></div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                </a>

                <a href="{{ path('index_document') }}">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text"><b>LISTE DES DOCUMENTS PAR PROJET</b></div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                </a>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text"><b>AJOUTER ACTEURS</b></div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    {# <h2><b>PHASE DE PASSATION</b></h2> #}
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 style="text-align: center; font-family:helvetica"><b>Bienvenue sur Delomap</b></h1>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# CPU Usage -->
            <div class="row clearfix">
                <!-- Visitors -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-pink">
                            <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                                 data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                                 data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                                 data-fill-Color="rgba(0, 188, 212, 0)">
                               {# 12,10,9,6,5,6,10,5,7,5,12,13,7,12,11#}
                            </div>
                            <ul class="dashboard-stat-list">
                                <h2> PHASE EXECUTION</h2>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Visitors -->
                
            </div>
        </div>
    </section>
{% endblock %}