{% extends "AppBundle::layout.html.twig"%}

{% block body %}
    
      
            <!-- Table projets -->
            <div id="block-table-procedure" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            
                            
                        </div>
                            <div class="container-fluid">
            <div class="block-header">
                <h2>
                    <center><b> FICHE SUIVI </b>
                    </center>
                </h2>
            </div>
        </div>
                        <div class="body">
                            
                            <div class="table-responsive">
                                <table id="table-procedure" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Désignation du Projet</th>
                                            <th>Date Réel de Lancement</th>
                                            <th>Date de Démarrage Effectif</th>
                                            <th>Observations</th>
                                            <th>Motifs</th>
                                            {#<th>Actions</th>#}
                                        </tr>
                                    </thead>
                                    {#<tfoot>
                                        <tr>
                                            <th>Désignation du Projet</th>
                                            <th>Date Réel de Lancement</th>
                                            <th>DDate de Démarrage Effectif</th>
                                            <th>Observations</th>
                                            <th>Motifs</th>
                                        </tr>
                                    </tfoot>#}
                            </div>
                                    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
{% endblock %}