{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    <b> ACTEURS </b>
                </h2>
            </div>

        </div>
    </section>
{% endblock %}