{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    PANEL DES ROLES
                </h2>
            </div>

            <!-- Table des Roles -->
            <div id="block-table-user" class="row clearfix">
                {% for role in roles %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2 class="col-xs-4">
                                    {{ role.libelle }}
                                </h2>
                            </div>
                            <div class="body" style="text-align: justify; font-size: 17px;">
                                {{ role.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- #END# Table des Roles -->
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}